html,body{    
    overflow-x: hidden;
    margin: 0;
    scroll-behavior: smooth;
}
/* *{
    outline: 2px solid red;
} */
.contact{
    background-color: rgb(241, 241, 241);
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
.contact{
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact h1{
    font-size: 1em;

}
.contact p{
    font-size: 14px;

}
.location {
    width: 40px;
}

.contact-head {
    text-align: center;
    padding-bottom: 1rem;
}

.location::before {
    content: "\f000";
    font-family: FontAwesome;
}

.contact .fa{
    color: black;
    font-size: 24px;
}

.input-box {
    width: 90%;
    padding: 8px;
    margin-inline: 1rem;
}

#msg-btn {
    width: fit-content;
    background-color: black;
    color: white;
    /* padding-inline: 30px; */

}
#msg-btn .fa{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

i:hover {
    cursor: pointer;
}

#msg-btn:hover {
    cursor: pointer;
}
footer{
    padding-top: 3rem;
    padding-bottom: 3rem;

}
.web-end{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
#back-to-top{
    margin-top: 20px;
    background-color: white;
    padding: 0.5rem;
    padding-inline: 1rem;
    font-size: 14px;
}
#back-to-top:hover{
    cursor: pointer;
    background-color: grey;

}
#back-to-top i:hover{
    color: black;
}
a{
    color: black;
    text-decoration: none;
}
i{
    margin-inline:0.3em;
}
i:hover{
    cursor: pointer;
}
.fa{
    color: rgb(255, 255, 255);
    font-size: inherit;
    font-size: 18px;
    padding-inline: 1rem;
}
.sm-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-arrow-up{
    color: black;
}
.end-credit{
    color: white;
    text-align: center;
    font-size: xx-small;
}
* {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

header::before {
    content: "";
    background: url('../img/mac.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 830px;
    width: 100%;
    opacity: 0.9;
    z-index: -1;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1rem;
    padding: 0.6rem;
}

.navbar a:hover {
    color: grey;
}


#home {
    color: white;
    height: 830px;
}

#home h1 {
    display: block;
    font-size: 64px;
    font-weight: 400;

}

.head-intro {
    padding-left: 10%;
    position: absolute;
    top: 20%;
}

.learn {
    background-color: rgb(162, 162, 162);
    font-size: 18px;
    padding: 10px;
    padding-inline: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icons {
    display: flex;
    width: fit-content;
}

.icons p {
    padding-inline: 0.3rem;
    font-size: larger;
}

.fa:hover {
    font-size: large;
    color: white;
}